<!-- shopping-list.component.html -->
<div class="shopping-list-container">
  <h1>Lista de Compras</h1>

  <form (ngSubmit)="addItem()" #itemForm="ngForm">
    <input type="text" [(ngModel)]="newItem" name="newItem" placeholder="Adicione um item" required />
    <button type="submit" [disabled]="itemForm.invalid">Adicionar</button>
  </form>

  <div class="list">
    <h2>Itens</h2>
    <ul>
      <ng-container *ngFor="let item of items; let i = index">
        <li *ngIf="!item.purchased">
          <span [class.purchased]="item.purchased">{{ item.name }}</span>
          <button (click)="markAsPurchased(i)">✔</button>
          <button (click)="editItem(i)">✏️</button>
          <button (click)="deleteItem(i)">🗑️</button>
        </li>
      </ng-container>
    </ul>

    <h2>Comprados</h2>
    <ul>
      <ng-container *ngFor="let item of items; let i = index">
        <li *ngIf="item.purchased">
          <span [class.purchased]="item.purchased">{{ item.name }}</span>
          <button (click)="editItem(i)">✏️</button>
          <button (click)="deleteItem(i)">🗑️</button>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
